$dark: #333333
$primary: #EC1F46
$light: #ffffff
$dark-bg: #0A223D

*, *:before, *:after
  box-sizing: border-box
  outline: none
body
  font-family: 'Muli', sans-serif
  font-weight: normal
  font-size: 14px
button
  font-family: 'Nunito', sans-serif

.container
  width: 85%
  max-width: 1100px
  margin: auto

.button
  color: $light
  background-color: $primary
  font-weight: 400
  font-size: 14px
  border: none
  border-radius: 4px
  padding: 12px 26px
  cursor: pointer
  transition: all 0.2s
  &:hover
    background-color: darken($primary, 20%)
.title
  margin: 0
  font-weight: bold
  font-size: 18px
.descr
  margin: 0
  line-height: 160.6%
  color: darken($light, 10%)
  text-align: justify
.contacts
  &__wrap:not(:last-child)
    margin-bottom: 8px
  &__explanation
    font-size: 12px
    color: darken($light, 10%)
    margin-left: 12px
.old-price
  display: block
  color: darken($light, 10%)
  text-decoration-line: line-through
.price
  font-weight: bold
  font-size: 24px
  &-wrap
    display: grid
    grid-template-columns: 1.5fr 1fr
    align-items: center
    justify-content: space-between
.section
  &-title
    margin: 41px 0 68px 15px
    font-style: normal
    font-weight: bold
    font-size: 36px
    text-align: center
    text-transform: uppercase
.cards-wrap
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  // grid-template-rows: 500px 500px
  grid-auto-rows: minmax(500px, auto)
  grid-column-gap: 30px
  grid-row-gap: 30px
  grid-template-areas: "wide wide ."
  // align-content: center
  // justify-content: center
  // min-height: 100vh

.card
  position: relative
  border-radius: 8px
  background-color: $dark-bg
  color: $light
  &::before
    content: 'Flash Offer'
    position: absolute
    top: 27px
    left: 0
    padding: 8px 18px
    font-size: 12px
    background-color: $primary
    color: $light
    border-radius: 0px 4px 4px 0px
  &__info
    padding: 32px 21px 25px 35px
  &__title
    margin-bottom: 23px
  &__contacts
    margin-bottom: 24px
    .contacts
      &__wrap:not(:last-child)
        margin-bottom: 10px
  &__oll-price
    margin-bottom: 5px
  &--normal
    display: grid
    grid-template-rows: 1fr 1fr
    &::before
      font-size: 8px
      padding: 4px 11px
  &--wide
    display: grid
    grid-template-columns: 1fr 1fr
    grid-area: wide
  &-wide
    &__info
      padding: 42px 21px 30px 48px
    &__rating
      margin-bottom: 2px
    &__title
      margin-bottom: 29px
    &__descr
      margin-bottom: 46px
    &__contacts
      margin-bottom: 33px
    &__old-price
      margin-bottom: 7px
    &__button
      margin-right: auto

@media screen and ( max-width: 1250px )
  .card
    &__img
      width: 100%
    &--wide
      grid-template-columns: 1fr
    &-wide
      &__img
        display: none
  .cards-wrap
    display: grid
    grid-template-columns: 400px 400px
    // grid-template-rows: 500px 500px
    grid-auto-rows: minmax(500px, auto)
    grid-column-gap: 30px
    grid-row-gap: 30px
    grid-template-areas: "wide"
    justify-content: center

@media screen and ( max-width: 900px )
  .cards-wrap
    grid-template-columns: 380px

@media screen and ( max-width: 450px )
  .card
    &::before
      display: none
    &-wide
      &__info
        padding: 20px 0
    &__info
      padding: 10px 0
  .cards-wrap
    grid-template-columns: 300px
